@model HoNguyenThiMyAnh.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <aside class="col-lg col-md-3 flex-lg-grow-0">
                        <h6>DANH MỤC</h6>
                        <nav class="nav-home-aside">
                            <ul class="menu-category">
                                @foreach (var item in Model.ListCategory)
                                {
                                    <li>

                                        @Html.ActionLink(item.Name, "ProductCategory", "Category", new { @Id = item.id }, null)
                                    </li>
                                }



                            </ul>
                        </nav>
                    </aside> <!-- col.// -->
                    <div class="col-md-9 col-xl-7 col-lg-7">

                        <!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/images/banners/banner1.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner3.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Trước</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Tiếp</span>
                            </a>
                        </div>
                        <!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->

                    </div> <!-- col.// -->
                    <div class="col-md d-none d-lg-block flex-grow-1">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">DANH MỤC SẢN PHẨM</h6>
                            @foreach (var item in Model.ListCategory.Where(n => n.ShowOnHomePage == true).Take(3))
                            {
                                <div class="card-banner border-bottom">
                                    <div class="py-3" style="width:80%">
                                        <h6 class="card-title">@item.Name </h6>
                                        <a href="@Url.Action("ProductCategory","Category", new { @Id = item.id }, null)" class="btn btn-secondary btn-sm">Nguồn bây giờ </a>
                                    </div>
                                    <img src="~/Content/images/items/@item.Avatar" height="80" class="img-bg">
                                </div>
                            }


                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- =============== SECTION DEAL =============== -->
    <section class="padding-bottom">
        <div class="card card-deal">
            <div class="col-heading content-body">
                <header class="section-heading">
                    <h3 class="section-title">GIẢM GIÁ SỐC</h3>
                    <p>Thiết bị vệ sinh</p>
                </header><!-- sect-heading -->
                <div class="timer">
                    <div> <span class="num">04</span> <small>Ngày/small></div>
                    <div> <span class="num">12</span> <small>Giờ</small></div>
                    <div> <span class="num">58</span> <small>Tối thiểu</small></div>
                    <div> <span class="num">02</span> <small>Giây</small></div>
                </div>
            </div> <!-- col.// -->
            <div class="row no-gutters items-wrap">
                @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(5))
                {
                    <div class="col-md col-6">
                        <figure class="card-product-grid card-sm">
                            <a href="@Url.Action("Detail","Product", new {Id = item.Id})" class="img-wrap">
                                <img src="~/Content/images/items/@item.Avatar">
                            </a>
                            <div class="text-wrap p-3">
                                @*<a href="#" class="title">@item.Name</a>*@

                                @Html.ActionLink(item.Name, "Detail", "Product", new { Id = item.Id }, null)

                                <span class="badge badge-danger"> -20% </span>
                            </div>
                        </figure>
                    </div> <!-- col.// -->
                }

            </div>
        </div>

    </section>
    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">IPHONE</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Giới thiệu sản phẩm</h5>
                        <p>
                            IPhone là một thiết bị điện thoại thông minh được thiết kế và phân phối bởi Apple Inc. Đây là một trong những tập đoàn công nghệ đắt giá bậc nhất trên thế giới.
                            Tiền thân của Apple Inc là Apple Computer Inc được sáng lập bởi: Steve Wozniak, Steve Jobs và Ronald Wayne. Trong đó, người đóng vị trí quan trọng nhất với sự ra đời của iPhone là giám đốc điều hành Steve Jobs.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Tìm hiểu thêm</a>
                        <img src="~/Content/images/items/ip12.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.CategoryId == 1))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Product", new {Id = item.Id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"></h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }

                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">MÁY TÍNH</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Giới thiệu sản phẩm các dòng Laptop</h5>
                        <p>
                            Hiện nay trên thị trường có rất nhiều dòng laptop khác nhau từ các nhà sản xuất khác nhau. Sau đây là một số dòng laptop nổi tiếng và phổ biến:
                            1.MacBook,2.Dell XPS,4.HP Spectre,5.ASUS ZenBook,6.Acer Swift,7.MSI Gaming.
                            </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Tìm hiểu thêm</a>
                        <img src="~/Content/images/items/laptop2.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.CategoryId == 2))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Product", new {Id = item.Id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"></h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }

                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">SAMSUNG</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Giới thiệu sản phẩm</h5>
                        <p>
                            Nâng tầm trải nghiệm các siêu phẩm Galaxy với các hình thức hỗ trợ mới nhất như trả theo tháng, ưu đãi
                            trực tiếp khi thu cũ đổi mới điện thoại cũ kể cả hỏng hóc, dịch vụ bảo hành Samsung Care+ để bạn
                            yên tâm trải nghiệm..
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Tìm hiểu thêm</a>
                        <img src="~/Content/images/items/ipad5.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.CategoryId == 21))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Product", new {Id = item.Id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"> </h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">PHỤ KIỆN ĐIỆN THOẠI</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Giới thiệu sản phẩm phụ kiện</h5>
                        <p>
                            Các phụ kiện đi kèm với điện thoại di động có thể khác nhau tùy thuộc vào từng loại điện thoại và nhà sản xuất, tuy nhiên, có một số phụ kiện chung đi kèm với hầu hết các điện thoại di động.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Tìm hiểu thêm</a>
                        <img src="~/Content/images/items/pk6.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.CategoryId == 4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Product", new {Id = item.Id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"> </h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION REQUEST =============== -->

    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">TƯ VẤN KHÁCH HÀNG</h4>
        </header>

        <div class="row">
            <div class="col-md-8">
                <div class="card-banner banner-quote overlay-gradient" style="background-image: url('~/Content/images/banners/banner9.jpg');">
                    <div class="card-img-overlay white">
                        <h3 class="card-title">Tư vấn khách hàng</h3>
                        <p class="card-text" style="max-width: 400px">
                            Nhu cầu khách hàng, liên hệ
                        </p>
                        <a href="" class="btn btn-primary rounded-pill">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div> <!-- col // -->
            <div class="col-md-4">

                <div class="card card-body">
                    <h4 class="title py-3">Điền thông tin khách hàng</h4>
                    <form>
                        <div class="form-group">
                            <input class="form-control" name="" placeholder="Gmail,Số điện thoại" type="text">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Số lượng" name="" type="text">
                                <select class="custom-select form-control">
                                    <option>Mẫu</option>
                                    <option>Màu sắc</option>
                                    <option>Cấu hình</option>
                                    <option>Trọng lượng</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group text-muted">
                            <p>Chọn loại mẫu:</p>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <div class="form-check-label">Yêu cầu giá</div>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option2">
                                <div class="form-check-label">Yêu cầu mẫu</div>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning">Yêu cầu báo giá</button>
                        </div>
                    </form>
                </div>

            </div> <!-- col // -->
        </div> <!-- row // -->
    </section>

    <!-- =============== SECTION REQUEST .//END =============== -->
    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">SẢN PHẨM ĐƯỢC ĐỀ XUẤT</h4>
        </header>

        <div class="row row-sm">
            @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 2).Take(6))
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div href="#" class="card card-sm card-product-grid">
                        <a href="@Url.Action("Detail","Product", new {Id = item.Id})" class="img-wrap"> <img src="~/Content/images/items/@item.Avatar"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">@item.Name</a>
                            <div class="price mt-1">@item.Price</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            }
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION ITEMS .//END =============== -->
    <!-- =============== SECTION SERVICES =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">DỊCH VỤ THƯƠNG MẠI</h4>
        </header>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Đảm bảo thương mại</h6>
                        <p class="small text-uppercase text-muted">Bảo vệ đơn hàng</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Thanh toán bất kỳ lúc nào</h6>
                        <p class="small text-uppercase text-muted">Giải pháp tài chính</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Giải pháp kiểm tra</h6>
                        <p class="small text-uppercase text-muted">Kiểm tra dễ dàng</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/4.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Vận chuyển đường biển và đường hàng không</h6>
                        <p class="small text-uppercase text-muted">Dịch vụ hậu cần</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->

    </section>
    <!-- =============== SECTION SERVICES .//END =============== -->
    <!-- =============== SECTION REGION =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Chọn vùng</h4>
        </header>

        <ul class="row mt-4">
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/CN.png"> <span>Trung Quốc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/DE.png"> <span>Đức</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/AU.png"> <span>Úc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/RU.png"> <span>Nga</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/IN.png"> <span>Ấn Độ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/GB.png"> <span>Anh</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/TR.png"> <span>Tây Ban Nha</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/UZ.png"> <span>Uzbekistan</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <i class="mr-3 fa fa-ellipsis-h"></i> <span>Nhiều khu vực hơn</span> </a></li>
        </ul>
    </section>
    <!-- =============== SECTION REGION .//END =============== -->

    <article class="my-4">
        <img src="~/Content/images/banners/ad-sm.png" class="w-100">
    </article>
</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center text-white">Cung cấp các xu hướng sản phẩm mới nhất và tin tức ngành trực tiếp vào hộp thư đến của bạn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <form class="form-row">
                    <div class="col-md-8 col-7">
                        <input class="form-control border-0" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-md-4 col-5">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i>  Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba.</small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
